body {
  margin: 0;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

html {
  height: 100vh;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
/* nav */

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navigation {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  list-style: none;
  background-color: white;
  margin: 0;
  height: 72px;
  padding-top: 1rem;
  box-shadow: 0.3em 0.3em 2em rgba(0, 0, 0, 0.1);
}

.navigation a {
  color: #ef7480;
  float: left;
  text-align: right;
  padding: 15px 20px;
  text-decoration: none;
}

.nav-right a {
  float: right;
  font-size: 18px;
}

.navbar__link {
  margin: 1em;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  color: #ef7480;
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 3px solid #ef7480;
  transition: border-bottom 0.5s ease-in-out;
}

/* footer */

.icon-padding {
  padding-top: 1rem;
}

/* main */

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  margin-top: 72px;
}

.top-row {
  background-color: white;

  padding-top: 8rem;
}

.center-name {
  font-size: 2rem;
  color: #ef7480;
  text-align: center;
}

.center-name-secondary {
  font-size: 1rem;
  color: #ef7480;
  text-align: center;
}

.center-name-copy {
  font-size: 1rem;
  color: #005d6f;
  text-align: center;
  padding-top: 2rem;
}

.column-left {
  display: grid;
  background-color: #2ee085;
}
.column-1 {
  display: grid;
  background-color: #40f99b;
  align-items: center;
  justify-items: center;
  grid-template-rows: [title] 150px [intro] 30px [image] 230px [space] auto [end];
}

.column-2 {
  display: grid;
  background-color: #d1ff41;
  align-items: center;
  justify-items: center;
  grid-template-rows: [title] 150px [intro] 30px [image] 230px [space] auto [end];
}

.column-right {
  display: grid;
  background-color: #b3e028;
}

/* about*/

.about-row-green-strip {
  background-color: #b3e028;
  height: 1rem;
}

.stack-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 72px;
  z-index: 1;
  margin: -12rem 20rem 0rem 20rem;
  text-align: left;
  background-color: white;
  box-shadow: 0em 0.3em 0.2em rgba(0, 0, 0, 0.1);
  padding: 3rem;
  line-height: 1.5rem;
}

.aboutBox-column-1 {
  text-align: left;
  justify-content: left;
  padding: 2rem;
  color: #005d6f;
}

.aboutBox-column-2 {
  text-align: left;
  justify-content: left;
  padding: 2rem;
  color: #005d6f;
}

.title-about-page {
  display: inline-grid;
  font-size: 3.5em;
  padding: 70px 0px 10px 0px;
  justify-items: center;
}

.about-title {
  font-size: 2rem;
  color: #005d6f;
}

.about-copy {
  font-size: 1rem;
  padding-top: 2rem;
}

.section-padding {
  display: flex;
  flex-direction: row;
}

.section-padding-tech {
  padding-bottom: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: row;
}

.title-tech-stack {
  font-size: 1rem;
  font-weight: bolder;
}

.title-skills-stack {
  padding-top: 1.5rem;
  margin-top: 1rem;
  font-weight: bolder;
}

.soft-skills-copy {
  color: #83ad01;
}

.green-box {
  background-color: #b3e028;
  padding: 0.5rem;
  margin: 0.2rem 0.2rem 0.2rem 0rem;
  font-weight: bold;
}

/* work */

.work-row-green-strip {
  background-color: #2ee085;
  height: 1rem;
}

.work-container-wheko {
  margin-top: 72px;
  z-index: 1;
  margin: -12rem 20rem 0rem 20rem;
  text-align: left;
  background-color: white;
  box-shadow: 0em 0.3em 0.2em rgba(0, 0, 0, 0.1);
  padding: 2rem;
  line-height: 1.5rem;
  color: #005d6f;
}

.work-container-next {
  margin-top: 72px;
  z-index: 1;
  margin: 4rem 20rem 0rem 20rem;
  text-align: left;
  background-color: white;
  box-shadow: 0em 0.3em 0.2em rgba(0, 0, 0, 0.1);
  padding: 2rem;
  line-height: 1.5rem;
  color: #005d6f;
}

.work-container-bottom {
  margin-top: 72px;
  z-index: 1;
  margin: 4rem 20rem 0rem 20rem;
  text-align: left;
  background-color: white;
  box-shadow: 0em 0.3em 0.2em rgba(0, 0, 0, 0.1);
  padding: 2rem;
  line-height: 1.5rem;
  color: #005d6f;
}

.work-title-icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-left {
  display: grid;
  font-size: 2rem;
  color: #005d6f;
  align-items: center;
}
.icon-right {
  display: grid;
  justify-content: right;
}


.title {
  display: inline-grid;
  font-size: 3.5em;
  padding: 40px 0px 10px 0px;
  justify-items: center;
}

.image {
  display: inline-grid;
  justify-items: center;
}

.intro {
  display: inline-grid;
  font-size: 1.1em;
  justify-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.container-work-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 1em 3em 15em 3em;
  cursor: default;
  margin-top: 50px;
}


.about-background {
  background-color: #d1ff41;
  cursor: default;
}

.work-background {
  background-color: #40f99b;
  cursor: default;
}

.italic {
  font-size: 16px;
}



@media screen and (max-width: 740px) {

  /* home */

  body {
    margin: 0;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .workContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .column-1 {
    display: grid;
    background-color: #40f99b;
    align-items: center;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 370px;
    grid-template-rows: [title] 110px [intro] 30px [image] 230px [space] auto [end];
  }

  .column-2 {
    display: grid;
    background-color: #d1ff41;
    align-items: center;
    justify-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 370px;
    grid-template-rows: [title] 110px [intro] 30px [image] 230px [space] auto [end];
  }

  .workColumn {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
  }
  .title {
    display: inline-grid;
    font-size: 3.5em;
    padding: 30px 0px 0px 0px;
    justify-items: center;
  }

  .center-name-copy {
    font-size: 1rem;
    color: #005d6f;
    text-align: center;
    padding: 2rem 1rem 0rem 1rem;
  }

  /* about */

  .stack-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    padding: 0;
    box-shadow: none;
  }

  .aboutBox-column-1 {
    align-items: center;
    justify-items: center;
    padding: 1rem;
    color: #005d6f;
  }

  .aboutBox-column-2 {
    align-items: center;
    justify-items: center;
    padding: 1rem;
    color: #005d6f;
  }
  .about-background {
    background-color: #d1ff41;
    cursor: default;
    padding: 0;
    margin: 0;
  }

  .title-about-page {
    margin-top: 7rem;
    margin-bottom: 3rem;
  }

  .intro {
    margin-top: 4rem;
  }

  .section-padding {
    display: flex;
    flex-direction: row;
  }

  .section-padding-tech {
    padding-bottom: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: row;
  }

  /* work */


  .work-background {
    background-color: #40f99b;
    cursor: default;
    padding: 0;
    margin: 0;
  }

  .work-container-next {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    padding: 1rem;
    box-shadow: none;
  }
  .work-container-wheko {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    padding: 1rem;
    box-shadow: none;
  }
  .work-container-bottom {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    padding: 1rem;
    box-shadow: none;
  }
  .title-left {
    display: grid;
    font-size: 2rem;
    color: #005d6f;
    align-items: center;
    line-height: 1.1;
    
  }

}

@media (max-width: 1326px) and (min-width: 740px) {
 
  .container {
    margin: 72px 0rem -16rem 0rem;
    
  }


  /* about */

  .stack-container {
    display: grid;
    margin: -15rem 5rem;
    z-index: 1;
    padding: 0;
    
  }

  .about-copy {
    margin-right: 4rem;
  }

  .aboutBox-column-1 {
    align-items: center;
    justify-items: center;
    padding: 2rem 0rem 2rem 2rem;
    color: #005d6f;
  }

  .aboutBox-column-2 {
    align-items: center;
    justify-items: center;
    padding: 2rem;
    color: #005d6f;
  }
  .about-background {
    background-color: #d1ff41;
    cursor: default;
    padding-top: 0;
    margin: 0;
  }

  .title-about-page {
    margin-top: 7rem;
    margin-bottom: 3rem;
  }

  .intro {
    margin-top: 4rem;
  }

  .section-padding {
    display: flex;
    flex-direction: row;
  }

  .section-padding-tech {
    padding-bottom: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: row;
  }

  /* work */

  .work-background {
    background-color: #40f99b;
    cursor: default;
    padding: 0rem 0rem 9rem 0rem;
    margin: 0;
  }
  .work-container-next {
    display: grid;
    margin: 3rem 9rem 3rem 9rem;
    padding: 1rem;
    /* box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
  }
  .work-container-wheko {
    display: grid;
    margin: -8rem 9rem 3rem 9rem;
    padding: 1rem;
    /* box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
  }
  .work-container-bottom {
    display: grid;
    margin: 3rem 9rem -13rem 9rem;
    padding: 1rem;
    /* box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
  }
  .title-left {
    display: grid;
    font-size: 2rem;
    color: #005d6f;
    align-items: center;
    line-height: 1.1;
    
  } 
.bottom-row {
  margin-top: 16rem;
}

}

 /* home */
 /* body {
  margin: 0;
}

.container {
  grid-template-columns: 1fr;
}

.workContainer {
  grid-template-columns: 1fr;
  text-align: center;
}
.column-1 {
  display: grid;
  background-color: #40f99b;
  align-items: center;
  justify-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 370px;
  grid-template-rows: [title] 110px [intro] 30px [image] 230px [space] auto [end];
}

.column-2 {
  display: grid;
  background-color: #d1ff41;
  align-items: center;
  justify-items: center;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 370px;
  grid-template-rows: [title] 110px [intro] 30px [image] 230px [space] auto [end];
}

.workColumn {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px;
}
.title {
  display: inline-grid;
  font-size: 3.5em;
  padding: 30px 0px 0px 0px;
  justify-items: center;
}

.center-name-copy {
  font-size: 1rem;
  color: #005d6f;
  text-align: center;
  padding: 2rem 1rem 0rem 1rem;
} */